@media only screen and (min-width: 0) and (max-width: 1200px) {
  .ledenPage .ledenChart .chart-left, .ledenPage .ledenChart .chart-right{
    display: table;
    float: none;
    margin: 0 auto 30px;
  }
  .ledenPage .ledenChart .chart-left{
    margin-bottom: 85px;
  }
  .tribe-events-list .tribe-events-event-image{
    height: 169px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 0){
  .tribe-events-list .tribe-events-event-image {
    height: auto;
  }
}