@media only screen and (min-width: 0) and (max-width: 1200px) {
  .ledenPage .ledenChart .chart-left, .ledenPage .ledenChart .chart-right{
    display: table;
    float: none;
    margin: 0 auto 30px;
  }
  .ledenPage .ledenChart .chart-left{
    margin-bottom: 85px;
  }
}