@media only screen and (min-width: 0) and (max-width: 1200px) {
  .ledenPage #tribe-events-content .ledenList{
    .pad{
      padding: 40px 15px 40px 20px;
    }
    .col1{
      width: 55px;
    }
    .col4{
      width: 115px;
    }
    .col6{
      width: 130px;
    }
    .divrow{
      width: 100%;
    }
  }
  .ledenPage .ledenChart .chart-left, .ledenPage .ledenChart .chart-right{
    display: table;
    float: none;
    margin: 0 auto 30px;
  }
  .ledenPage .ledenChart .chart-left{
    margin-bottom: 85px;
  }
  .tribe-events-list .tribe-events-event-image{
    height: 169px;
  }
}

@media only screen and (max-width: 767px) and (min-width: 0){
  .page-title h1{
    width: 100%;
  }
  .ledenPage #tribe-events-content .ledenList{
    .pad{
      padding: 40px 15px 40px 20px;
    }
    .col1{
      width: 55px;
    }
    .col2{
      width: 135px;
    }
    .col3{
      width: 35px;
    }
    .col4, .col5{
      width: 115px;
    }
    .col6{
      width: 115px;
    }
    .divrow{
      width: 100%;
    }
  }
  .tribe-events-list .tribe-events-event-image {
    height: auto;
  }
  .col-cls-mobile{
    width: 377px;
  }
  .site-header .mobile-menu a{
    padding-right: 15px;
  }
  .profilePage{
    width: 100%;
    margin: 0 auto;
    .profileDetail {
      width: 98%; 
    }
  }
  .profilePage .nav-box{
    padding-left: 15px;
    min-height: inherit;
    padding-bottom: 40px; 
  }
  .profilePage .profileDetail {
    .row-f {
      width: 100%;
      .col1{
        width: 45%; 
      }
      .col2{
        width: 35%;
      }
      .col3{
        width: 20%;
        text-align: right;
      }
    }
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .ledenPage #tribe-events-content .ledenList{
    .pad{
      padding: 40px 15px 40px 20px;
    }
    .col1{
      width: 55px;
    }
    .col4{
      width: 115px;
    }
    .col6{
      width: 130px;
    }
    .divrow{
      width: 100%;
    }
  }
  .user-logined{
    right: 15px;
  }
  .profilePage{
    width: 750px;
    margin: 0 auto;
  }
  .profilePage .nav-box{
    padding-left: 15px;
    min-height: inherit;
    padding-bottom: 40px; 
  }
  .profilePage .profileDetail {
    .row-f {
      width: 100%;
      .col1{
        width: 45%; 
      }
      .col2{
        width: 35%;
      }
      .col3{
        width: 20%;
        text-align: right;
      }
    }
  }
}
