.events-title{
    background: url(../images/events/banner.jpg) no-repeat center;
    background-size: cover;
}
.page-title .breadcrumb{
  @include RalewayRegular(12px);
  h1{
    @include RalewayBold(48px);
  }
}
.tribe-events-calendar thead th{
  @include NotoSansBold(14px);
}
.tribe-events-page-title-wrap{
  background: #000;
  h2.tribe-events-page-title{
    color: #fff;
    @include NotoSansBold(24px);
  }
}
#sidebar .list-info h2.entry-title{
  color: #887554;
}
.tribe-events-list .tribe-events-loop .tribe-events-list-separator-month, .tribe-events-list .tribe-events-loop .tribe-events-day-time-slot h5{
  background: #887554;
}

#sidebar{
  .widget-inner{
    h3.widget-title{
      @include NotoSansBold(16px);
      color: #fff;
    }
  }
  .list-info{
    h2.entry-title{
      @include NotoSansBold(14px);
    }
  }
  .tribe-mini-calendar-event .list-info .duration{
    @include NotoSansRegular(12px);
    color: #fff;
  }
}
#tribe-events-content .tribe-events-calendar div[id*=tribe-events-event-] h3.tribe-events-month-event-title{
  @include NotoSansBold(14px);
  color: #887554;
}
#tribe-events-content .tribe-events-tooltip h4{
  @include NotoSansBold(16px);
  color: #887554;
}
.tribe-events-tooltip .duration{
  @include NotoSansRegular(12px);
  color: #656565;
  font-weight: bold;
}
.tribe-events-tooltip p.entry-summary{
  clear: both;
  padding-top: 5px;
  color: #868686;
  @include NotoSansRegular(13px);
}

.singlePage{
  .left-featured-events{
      margin-top: 32px;
  }
  .home-featured-event #tribe-events-content.tribe-events-single .events-single-left{
    padding-top: 0;
    margin-top: 50px;
  }
}

.googlemaps{
  margin-top: 20px;
}
.tribe-events-list .tribe-events-event-image{
    height: 207px;
  position: relative;
  overflow: hidden;
}
.pagination .page-numbers.next:after, .pagination .page-numbers.prev:before{
  top: 10px;
}
.upcoming-event-wrap.tribe-events-list .tribe-events-event-image{
  height: auto;
}
.events-single-left{
  .number-events{
    .scrollbar{
      ul{
        li{
          .avatar-box{
            width: 45px;
            height: 45px;
            float: left;
            img{
              height: 100%;
            }
          }
        }
      }
    }
  }
}
.avatar-box{
  width: 45px;
  height: 45px;
  float: left;
  img{
    height: 100%;
  }
}
#tribe-events-content{
  .add_guest{
    padding-top: 18px;
    padding-bottom: 18px;
    a{
      text-decoration: underline;
      @include RalewayRegular(12px);
      color: #887554;
    }
  }
  .infoPayment{
    background: #887554;
    .pad{
      padding: 13px 25px 12px 12px;
      color: #fff;
      @include NotoSansRegular(12px);
      line-height:  1.4;
        word-spacing: 2px;
      b{
        font-weight: bold;
      }
    }
  }
  .downloadbox{
    margin-top:15px;
    ul{
      li{
        margin-bottom: 15px;
        a{
          @include NotoSansBold(12px);
          color: #887554;
          border: 1px solid #887554;
          text-transform: uppercase;
            padding: 10px 12px;
            display: inline-block;
        }
      }
    }
  }
}

