@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-vkrzy0');
  src:url('../fonts/icomoon.eot?#iefix-vkrzy0') format('embedded-opentype'),
  url('../fonts/icomoon.woff?-vkrzy0') format('woff'),
  url('../fonts/icomoon.ttf?-vkrzy0') format('truetype'),
  url('../fonts/icomoon.svg?-vkrzy0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}