.site-header{
  background: #1b1a18; 
}
.header-menu.sf-menu li a{
  color: #fff;
  &:hover{
    color: #827b5e;
  }
}
.header-menu.sf-menu li:hover > a{
  color: #fff;
  background: #827b5e;
}
.header-menu.sf-menu li li a{
  background: #1b1a18; 
}
.site-branding{
 background: #000; 
}
.home-slider-events .slide-event-detail{
  background: rgba(0, 0, 0, 0.85)
}

.logo{
  padding-top: 31px;
  margin-left: 38px;
}

.sf-menu li a.wordt-lid{
  border: 1px solid #fff;
  &:hover{
    border-color: #827b5e;
  }
}
.header-menu.sf-menu > li:last-child a.wordt-lid{
  padding-right: 15px;
}
