.page-template-page_home_event-php .home-upcoming-events .upcoming-event-title{
  @include NotoSansBold(12px); 
}
.home-upcoming-events .upcoming-event-nav{
  @include NotoSansBold(12px); 
  color: #887554;
}
.tribe-events-list .tribe-events-event-date {
  .dd{
    @include NotoSansBold(24px); 
    padding-bottom: 4px;
  }
  .mm,.yy{
    @include NotoSansRegular(12px); 
  }
}

.tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left h2.tribe-events-list-event-title{
  @include NotoSansBold(14px); 
  color: #474747;
}
.tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left .author .tribe-events-venue-details, .tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left .author.location .tribe-events-venue-details{
  @include NotoSansRegular(12px); 
  color: #887554;
  padding-bottom: 3px;
}
.tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left .author .time-details, .tribe-events-list .event-list-wrapper-bottom .wraper-bottom-left .author.location .time-details{
  @include NotoSansRegular(12px); 
  color: #999;
}
.blog-list .post-inner .post-summary{
  height: auto;
}
.blog-list .inner-loop{
  background: #000;
}
.home-recent-posts .recent-post-nav, .home-recent-posts .recent-post-title{
  @include NotoSansBold(12px);
}
.home-recent-posts .recent-post-nav{
  color: #887554;
  &:hover{
    color: #fff;
  }
}
.ourgeorgia{
  .blog-list .post-inner .post-summary p{
    color: #fff;
    @include NotoSansRegular(12px); 
    padding-bottom: 11px;
    &.pad-bot-25{
      padding-bottom: 25px;
    }
  }
  a.btn{
    color: #887554;
    @include RalewayBold(12px);
    border: 2px solid #887554;
    padding: 10px 12px;
    display: table;
    margin: 28px auto;
    &:hover{
      color: #fff;
      border-color: #fff;
    }
  }
}
.home-featured-event .featured-event-title h2{
   @include NotoSansBold(12px);
}

#tribe-events-content.tribe-events-single .tribe-events-cta .tribe-events-cta-date{
   color: #1b1a19;
  .mm{
    @include NotoSansBold(12px);
  }
  .dd{
    @include NotoSansBold(60px);
  }
  .yy{
    @include NotoSansBold(18px);
  }
}
#tribe-events-content.tribe-events-single .tribe-events-cta .btn{
  @include NotoSansBold(14px);
  color: #887554;
  border: 2px solid #887554;
  &:hover{
    background: transparent;
    color: #887554;
    border-color: #887554;  
  }
}
#tribe-events-content.tribe-events-single .events-single-left{
  border-color: #887554;
}
#tribe-events-content.tribe-events-single .tribe-events-meta-group-details,
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue,
#tribe-events-content.tribe-events-single .tribe-events-meta-group-schedule{
  border-color: #887554;
}
#tribe-events-content.tribe-events-single .tribe-events-meta-group table{
  td, th{
    @include NotoSansRegular(12px); 
    color: #807c77;
    border-color: #c4b8a3;
  }
  tr.last{
    td,th{
      border-bottom: none;
    }
  }
}
#tribe-events-content.tribe-events-single .tribe-events-meta-group{
  &.events-location{
    padding: 40px 0 40px 0;
    h3.tribe-events-single-section-title{
      @include NotoSansBold(14px);
      color: #1b1a19;
    }
    .meta-inner{
     p.author{
       @include NotoSansBold(12px);
       color: #1b1a19;
       padding-bottom: 5px;
         padding-top: 5px;
     } 
     .tribe-events-address{
       @include NotoSansRegular(12px);
       color: #1b1a19;
       padding-bottom: 5px;
     }
     .location{
       @include NotoSansBold(12px);
       color: #887554;
     }
    }
    
  }
}
#tribe-events-content.tribe-events-single .tribe-events-meta-group-venue .meta-inner:before{
  color: #887554;
}
#tribe-events-content.tribe-events-single .tribe-events-meta-group-details{
  padding: 33px 0 35px 0;
  &.number-events{
    h4{
      @include RalewayBold(28px);
      color: #887554;
      span{
        @include NotoSansBold(14px);
        color: #1b1a19;
      }
    }
    .scrollbar{
        height: 315px;
      position: relative;
      overflow: hidden;
      .mCSB_scrollTools .mCSB_draggerRail{
        width: 9px;
        background: #d9d9d9;
        border-radius: 4px; 
      }
      .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
        background: #828282;
        width: 9px;
      }
      .mCSB_scrollTools{
        right: 10px;  
      }
      ul{
        padding-top: 25px;
        li{
          border-bottom: 1px solid #e9eaed;
          float: left;
          width: 100%;
          padding-bottom: 7px;
          margin-bottom: 7px;
          img{
            float: left;
            padding-right: 5px;
          }
          p{
              font-family: 'Noto Sans', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 14px;
              line-height: 1.1;
              color: #1b1a19;
              height: 45px;
              display: table-cell;
              vertical-align: middle;
              float: none;
          }
        }
      }
    }
  }
}
.home-featured-event #tribe-events-content.tribe-events-single .tribe-events-meta-group-schedule{
  h3.tribe-events-single-section-title{
    @include NotoSansBold(14px);
      color: #1b1a19;
  }
}
#tribe-events-content.tribe-events-single .tribe-events-meta-group-schedule ul .item{
  color: #807c77;
  @include NotoSansRegular(12px);
}
.home-featured-event #tribe-events-content.tribe-events-single .events-single-right{
  .entry-title a{
     color: #887554;
  }
  .description{
    @include NotoSansRegular(12px);
    color: #887554;
    line-height: 1.2; 
  }
}

.lastestPhoto{
  .home-featured-event{
    margin-bottom: 0;
    .featured-event-title{
      padding-bottom: 23px; 
    }
  }
  .lastestList{
    background: #000;
    padding-top: 22px;
    padding-bottom: 8px;
    ul{
        display: table;
        margin: 0 auto;
        text-align: center;
      li{
        display: inline-block;
        margin-left: 5px;
        margin-bottom: 14px;
        margin-right: 5px;
        height: 97px;
        width: 97px;
        position: relative;
        overflow: hidden;
        img{
          height: 100%;
            max-width: none;
        }
      }
    }
  }
}
