.no-pad{
  margin-bottom: 0!important;
}
//chart
.doughnut-legend {
  list-style: none;
  position: absolute;
  right: 10px;
  top: 35px;
    width: 168px; 
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 6px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  color: #999;
  @include RalewayLight(12px);
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
#modular-doughnut-2{
  left: 20px;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
    height: 17px;
  border-radius: 5px;
}

.ledenPage{
  .tribe-events-page-title-wrap {
    h2.tribe-events-page-title{
      @include RalewayRegular(24px);
      b{
        @include RalewayBold(24px);
      }
    }
  }
  
  .ledenChart{
    padding-top: 35px;
    padding-bottom: 85px;
     background: #000;
     margin-top: 11px;
     h3{
       @include RalewayLight(16px);
       color: #fff;
       padding-left: 37px;
     }
    .chart-left{
      float: left;
      position: relative;
      width: 425px;
    }
    .chart-right{
      float: left;
      width: 415px;
      position: relative;
    }
    .doughnut-legend{
      
    }
    .clschart{
      position: relative;
      top: 20px;
        left: 35px;
    }
  }
  #tribe-events-content{
    .ledenList{
      margin-top: 12px;
      background: #fff;
      .pad{
        padding: 40px 36px 40px 45px;
      }
      
      .divtitle{
        float: left;
        width: 100%;
        .col{
          color: #887554;
          @include RalewayBold(14px);
          text-transform: uppercase;
          &.col1{
            
          }
          &.col2{
            
          }
          &.col3{
            
          }
          &.col4{
            
          }
          &.col5{
            
          }
          &.col6{
            
          }
        }
      }
      .scrollbar{
        padding-top: 38px;
        float: left;
        width: 100%;
        position: relative;
        max-height: 925px;
        .mCSB_scrollTools .mCSB_draggerRail{
          width: 9px;
          background: #d9d9d9;
          border-radius: 4px; 
        }
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
          background: #828282;
          width: 9px;
        }
        .mCSB_scrollTools{
          right: 0;  
        }
      }
      .divrow{
        @include RalewayRegular(12px);
        color: #333;
        float: left;
        width: 100%;
        border-bottom: 1px solid #e9eaed;
        padding-bottom: 7px;
        margin-bottom: 7px;
        a{
          color: #887554;
          text-decoration: underline;
          &.fa-linkedin{
            background: url(../images/likedin.png) no-repeat;
            width: 20px;
            height: 20px;
            &:before{
              content: "";
            }
          }
        }
        .col1{
          
        }
        .col2{
          @include RalewayBold(12px);
		  a{
			text-decoration: none;
			color: #333;
		  }
        }
        .col3{
          
        }
        .col4{
          
        }
        .col5{
          
        }
        .col6{
          
        }
      }
      .col{
        float: left;
      }
      div.middle{
         height: 45px;
        vertical-align: middle;
        float: none;
        display: table-cell;
      }
      .col1{
         width: 75px;
      }
      .col2{
         width: 165px;
      }
      .col3{
        width: 50px;
      }
      .col4{
        width: 132px;  
      }
      .col5{
        width: 182px; 
      }
      .col6{
        width: 135px; 
      }
    }
  }
  .ledenOrg{
    .home-featured-event{
      margin-bottom: 0;
    }
    .leden-logo{
      padding-top: 30px;
      padding-left: 18px;
      background: #000;
      padding-bottom: 19px;
      ul{
          display: table-cell;
        vertical-align: middle;
        text-align: center;
        li{
          display: inline-block;
          margin-right: 9px;
          margin-bottom: 11px;
        }
      }
    }
  }
}


