.news-content{
  padding-top: 38px;
}
#tribe-events-content.tribe-events-single{
  &.bgblack{
    background: #000;
  }
}
.news-list-box.scrollbar {
  max-height: 528px;
  width: 97%;
}
.date-info .meta{
  @include NotoSansRegular(12px);
  span{
    display: block;
    padding-bottom: 6px;
  }
}
.news-content{
  h3{

  }
}