.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  .overlays{
    background: #000;
    opacity: 0.84;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
  }
  .popup-content{
    left: 50%;
    margin-left: -275px;
    position: absolute;
    z-index: 102;
    width: 550px;
    top: 50%;
    margin-top: -175px;
    img{
      display: table;
      margin: 0 auto 41px;
    }
    .login-form{
      background: #1b1a19;
      padding: 0 23px;
      h4{
        padding-top: 30px;
        padding-bottom: 16px;
        @include NotoSansBold(18px);
        color: #fff;
        text-align: center;
      }
      a.btn{
        @include NotoSansBold(14px);
        color: #887554;
        border: 2px solid #887554;
        text-align: center;
        display: block;
        margin-top: 2px;
        &:hover{
          color: #fff;
          border-color: #fff;
        }
      }
      input[type="text"], input[type="password"]{
        width: 100%;
        height: 26px;
        border: 1px solid #a6a6a6;
        @include RalewayRegular(12px);
        &.error{
          border-color: #ff0000;
        }
      }
      .l-left{
        width: 252px;
        padding-right: 23px;
        float: left;
        border-right: 1px solid #000;
      }
      p{
        padding-bottom: 11px;
      }
      p.txt{
        @include NotoSansRegular(12px);
        color: #fff;
        padding-top: 20px;
        padding-bottom: 35px;
        a{
          color: #887554;
          @include RalewayRegular(12px);
          text-decoration: underline;
          &:hover{
            color: #fff;
          }
        }
      }
      .l-right{
        width: 252px;
        float: left;
        h4{
          padding-top: 95px;
        }
        p.txt{
          padding-top: 2px;
          text-align: center;
          a{
              display: inline-block;
            padding-top: 8px;
          }
        }
      }
    }
  }
}

.message-popup{
  .popup-content{
      background: #fff;
      padding: 30px 25px;
      text-align: center;
        margin-top: -85px;
        a.close{
          color: #333;
        @include RalewayBold(24px);
        position: absolute;
      top: 0px;
      right: 5px;
        }
      h3{
        color: #333;
        @include RalewayBold(14px);
        padding-bottom: 15px;
        text-transform: uppercase;
      }
      p{
        color: #333;
        @include RalewayRegular(14px);
      }
  }
}

.add_guest_popup{
  .popup-content{
    background: #1b1a19;
      text-align: left;
        width: 537px;
  margin-left: -268px;
    a.close{
      color: #fff;
        top: 2px;
      right: 7px;
    }
    .guest_form{
      padding-bottom: 25px;
    }
    h4{
      @include RalewayBold(18px);
      color: #fff;
      padding-bottom: 12px;
    }
    input[type="text"]{
      @include RalewayRegular(12px);
      width: 173px;
      border: 1px solid #b7b7b7;
      margin-right: 8px;
      height: 25px;
      &.notedit{
          background: transparent;
        border: none;
        font-family: 'Noto Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1;
        color: #fff;
        width: auto;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
      }
      &.error{
        border-color: red;
      }
    }
    p{
      @include NotoSansRegular(12px);
        color: #fff;
        input.text2{
          margin-left: 10px;
        }
    }
    input[type="submit"]{
      @include RalewayBold(12px);
      color: #887554;
      border: 2px solid #887554;
      width: 117px;
      background: transparent;
        padding: 6px 0 5px;
      
    }
    a.fedit{
      color: #887554;
      @include NotoSansRegular(12px);
      text-decoration: underline;
    }
  }
}
