.profilePage{
  .nav-box{
    padding-left: 36%;
    padding-top: 72px;
    min-height: 820px;
    background: #000;
    ul{
      li{
        padding-bottom: 12px;
        a{
          @include NotoSansBold(20px);
          color: #333;
          &:hover, &.current{
            color: #887554;
          }
        }
      }
    }
  }
  .profileDetail{
    padding-bottom: 50px;
    padding-top: 68px;
    padding-left: 17px;
    .avatar-member{
      padding-bottom: 52px;
      .img-box{
        float: left;
        margin-right: 51px;
        min-height: 148px;
        width: 148px;
        height: 148px;
        overflow: hidden;
        position: relative;
      }
      img{
        overflow: auto;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        
      }
      .profile-name{
        padding-top: 103px;
        span{
          color: #887554;
          display: block;
          @include RalewayBold(20px);
          padding-bottom: 10px;
        }
        a.fedit,a.editPhoto, .savebtn{
          span{
             @include NotoSansRegular(12px);
             padding-bottom: 0;
             text-decoration: underline;
          }
          &:hover{
            span{
              color: #fff;
            }
          }
        }
      }
    }
    a.fedit, a.editPhoto{
      background: url(../images/fedit.png) no-repeat left center;
      padding-left: 18px;
      span{
         @include NotoSansRegular(12px);
         padding-bottom: 0;
         text-decoration: underline;
      }
      &:hover{
        span{
          color: #fff;
        }
      }
      &:hover{
        background: url(../images/fedit-w.png) no-repeat left center;
        color: #fff;
      }
    }
    .row-f{
      border-bottom: 1px solid #333;
      padding-bottom: 13px;
      margin-bottom: 15px;
      float: left;
      .col1{
        color: #999;
        @include NotoSansRegular(12px);
        float: left;
        width: 200px;
      }
      .col2{
        @include NotoSansBold(12px);
        color: #fff;
        float: left;
        width: 280px;
        position: relative;
        a{
          &:hover{
            color: #fff;
          }
        }
      }
      .col3{
        float: left;
      }
    }
  }
}
.profilePage .savebtn{
    background: url(../images/fedit.png) no-repeat left center;
  padding-left: 18px;
    font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  padding-bottom: 0;
  text-decoration: underline;
  color: #887554;
  display: none;
}
.profilePage .profileDetail .row-f .col2 input[type="text"].pemail{
  color: #887554;
}
.profilePage .profileDetail .row-f .col2 select{
    height: 23px;
    padding: 0;
    background: transparent;
    border: none;
    margin-top: -5px;
      font-family: 'Noto Sans', sans-serif;
  font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin-left: -3px;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
