
/* ! PRIMARY STYLES */
html, body{width:100%; min-width:640px; }
body {
	font: $fontArial12;
	background: #1b1a18;

  &.bgBlack {
    background: #000;
  }
}
a{text-decoration: none;}
.clear{clear:both;}

.content700{width:700px;}
.content820{width:820px;}
.content890{width:890px;}
.content940{width:940px;}

.wrapper{
  width: 640px;
  margin: 0 auto;
  position: relative;
}

 #tribe-events-footer .tribe-events-sub-nav li.pagenum{
  display: none;
}



/*-------------------------
CHECKBOX FOR GRID
-------------------------*/
.checkboxStyle label {
  margin-bottom: 0px;
  background-image:url(../images/checkbox.png);
  user-select: none;
}
.checkboxStyle input[type=checkbox] + label {
  padding-left:30px;
  height:18px; 
  display:inline-block;
  line-height:18px;
  background-repeat:no-repeat;
  background-position: 0 0;
  vertical-align:middle;
  cursor:pointer;
}
.checkboxStyle input[type=checkbox]:checked + label {
  background-position: 0 -18px;
}
.checkboxStyle input[type=checkbox] {
  margin-top: 0px;
  position:absolute; z-index:-1000; left:-100000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

.checkboxStyle.error label{
  background: url(../images/checkbox-error.png) no-repeat;
}

/*UPLOAD BUTTON*/
.fileUpload {
    position: relative;
    overflow: hidden;
    padding: 13px 10px;
    border: 2px solid #fff;
    display: inline-block;
    span{
      @include RalewayBold(12px);
    color: #fff;
    }
    &.error{
      border-color: #ff0000;
    }
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


.tribe-events-tooltip {
  border: 1px solid #666;
  position: absolute;
  z-index: 1001;
  bottom: auto;
  top: -250px;
  right: 3px;
  width: 320px;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.4;
  border: 0;
  background-color: #fff;
  color: #606060;
  padding: .75em 1em 1.15em;
  -webkit-box-shadow: 3px 4px 21px rgba(0,0,0,.38);
  -moz-box-shadow: 3px 4px 21px rgba(0,0,0,.38);
  box-shadow: 3px 4px 21px rgba(0,0,0,.38);

  text-align: left;

  .tribe-events-arrow {
    left: auto;
    right: 30px;
  }
}

.bg-thumb{
  height: 97px;
}